body {
    color: rgb(14, 2, 2);
    background-color:#FFDE59;
    font-family: Arial, Helvetica, sans-serif;
    width: 150 px; height: 170px;
}
ul{
   display:flex;
   justify-content:space-between;
   list-style-type: none;
   align-items: center;
   padding: 16px;
}
a{
    color: rgb(71, 52, 241);
    width: 13px;
    text-decoration: none;
}
header img{
    width:150px ;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(237, 10, 33, 0.996);   
}
.center{
    text-align: center;
}
h1{
    color: rgb(244, 17, 17);
}

foot imag{
    width: 3px;
    height: 3px;
}
.container{
    padding: 0px 50px;
}
nav a:hover {
    color: rgb(230, 16, 16)
}